/* Remote Lecture */
/* Copyright (C) 2021  Hugo Raguet */
/* SPDX-License-Identifier: GPL-3.0-or-later */

body {
    background-color: #102010;
}

math, fmath, .fm-math, fmath mo, .fm-mo, .ma-sans-serif {
    font-family: sans-serif;
}

.float {
    width: 47.9%;
    float: left;
    padding: 1vw;
    font-family: sans-serif;
}

pw {
    white-space: pre-wrap;
}
