/* Remote Lecture */
/* Copyright (C) 2021  Hugo Raguet */
/* SPDX-License-Identifier: GPL-3.0-or-later */

html, body, svg {
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    background-color: #000000;
}

button {
    margin-top: 1vw;
    margin-left: 1vw;
    float: left;
    position: relative;
    z-index: 1;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    z-index: 0;
}

#message {
    position: absolute;
    margin-top: 1vw;
    right: 1vw;
    z-index: 1;
    font-family: sans-serif;
    color: #808080;
    white-space: pre-wrap;
}
