/* Remote Lecture */
/* Copyright (C) 2021  Hugo Raguet */
/* SPDX-License-Identifier: GPL-3.0-or-later */

.terminal {
    position: absolute;
    z-index: 0;
}

.checkFontSize {
    position: absolute;
    visibility: hidden;
    font-family: monospace;
}

